.navbar-brand > .navbar-item:hover {
    background-color: white;
}

.navbar { 
    position: fixed !important; 
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 1;
}

.navbar-end > .navbar-item {
    padding: 0 5rem;
    text-align: center;
}

html {
    height: 100%;
    margin: 0px; 
    padding: 0px; 
}
body {
    min-height: 100%;
    margin: 0px; 
    padding: 0px; 
    background: black url("./violin.jpg");
    background-size: auto 100%;
}


#big-content-container {
    height: 100%;
    color: white;
}

.content-container {
    padding-top: 52px;
    height:100vh;
    margin: 0px;
}

#intro-container {
    padding: 6rem;
    color: white;
}

#intro-title{
    color: white;
    font-size: 3rem;
    line-height: 1.125;
}

#intro-subtitle{
    color: white;
    font-size: 1.5rem;
    line-height: 1.125;
}

#down-button {
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    color: white;
    width: 50px;
    margin: 1rem auto;
}
#down-button > a {
    color: inherit;
}

#down-button:hover {
    background-color: white;
    color: black;
}

#why-us-container {
    padding: 6rem;
    color: white;
}

#why-us-main-title {
    color: white;
    font-size: 1.8rem;
    line-height: 1.125
}

#why-us-main-subtitle {
    color: white;
    font-size: 2.4rem;
    line-height: 1.125;
    margin-bottom: 2rem;
    font-style: bold;
}

#quotes-container {
    padding: 1.5rem 20%;
}

.quote-text{
    color: white;
    font-size: 1.5rem;
    line-height: 1.125;
    font-style: italic;
    margin-top: 1.25rem;
}

.quote-author{
    color: white;
    font-size: 1.25rem;
    line-height: 1.125;
    font-style: italic;
}


.card{
    background-color: rgba(0,0,0,0.75);
    color: white;
    margin-top: 8rem;

    border-width: 1px;
    border-radius: 3%;
    border-color: white;
    border-style: solid;

}

#contact-container {
    margin-top: 8rem;
}

.field > label {
    color: white;
}

.field > .control > button {
    color: white;
}